# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django_demo\django_demo_first\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
